:root {
    --theme-default: #1b1b1b;
    --primary-theme: #262932;
    --secondary-theme: #000;
    --default-color: #fff;
}

.doted-list {
    margin-bottom: 20px;
}

.doted-list li {
    list-style: disc;
}

.toggle-sidebar {
    top: 45px;
}

.dark-only .sidebar-list .sidebar-link .theme-icons {
    color: var(--theme-default);
}

.page-wrapper .page-header .header-wrapper .nav-right .profile-dropdown {
    top: 30px;
}

.loader {
    width: 40px;
    aspect-ratio: 1;
    --c: linear-gradient(var(--default-color) 0 0);
    --r1: radial-gradient(farthest-side at bottom, var(--default-color) 93%, var(--default-color));
    --r2: radial-gradient(farthest-side at top, var(--default-color) 93%, var(--default-color));
    background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2),
        var(--c), var(--r1), var(--r2);
    background-repeat: no-repeat;
    animation: l1 1s infinite alternate;

    position: absolute;
    top: 50%;
    left: 50%;
    /* right: 0; */
    z-index: 1;
    transform: translate(-50%, -50%);
}

@keyframes l1 {
    0%,
    10% {
        background-size: 8px 0, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px),
            50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%,
            100% calc(50% - 2px), 100% calc(50% + 2px);
    }

    90%,
    100% {
        background-size: 8px 100%, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 -2px, 0 calc(100% + 2px), 50% 50%,
            50% -2px, 50% calc(100% + 2px), 100% 50%, 100% -2px,
            100% calc(100% + 2px);
    }
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-theme);
}
.action-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.6);
}
.table.dataTable td:last-child {
    display: flex;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-list i.fa-solid.fa-thumbtack,
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link.active .according-menu i,
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link.active span,
.page-wrapper.compact-wrapper
    .page-body-wrapper
    div.sidebar-wrapper
    .sidebar-main
    .sidebar-links
    .simplebar-wrapper
    .simplebar-mask
    .simplebar-content-wrapper
    .simplebar-content
    > li:hover
    .sidebar-link:not(.active):hover
    .according-menu
    i,
.page-wrapper.compact-wrapper
    .page-body-wrapper
    div.sidebar-wrapper
    .sidebar-main
    .sidebar-links
    .simplebar-wrapper
    .simplebar-mask
    .simplebar-content-wrapper
    .simplebar-content
    > li:hover
    .sidebar-link:not(.active):hover
    span,
a:hover {
    color: var(--default-color);
}
.page-wrapper .page-header .header-wrapper .nav-right .profile-dropdown li:hover a svg {
    stroke: var(--default-color);
}

.swal2-container .swal2-actions .swal2-confirm.custom-confirm-btn {
    background-color: var(--default-color) !important;
    color: var(--secondary-theme) !important;
    border: none !important;
    border-radius: 5px !important;
}

.custom-cancel-btn {
    background-color: var(--default-color) !important;
    color: var(--secondary-theme) !important;
    border: 1px solid var(--secondary-theme) !important;
    border-radius: 5px !important;
}

body.dark-only .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content > li .sidebar-link.active
{
    background-color: var(--secondary-theme) !important;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link:after {
    background-color: #262932 !important;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li.sidebar-list:hover>a:hover {
    background-color: var(--secondary-theme) !important;
}
body.dark-only .toggle-sidebar svg {
    stroke: #ffffff99;
}
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links {
    margin-top: 0;
}
.dark-only .nav-pills.nav-primary .nav-link, .nav-primary .nav-link {
    color: var(--default-color);
}
/* .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links li a.link-nav .according-menu {
    display: block;
} */